$primary: #5D4B99;
$primary-200: #ece5fc;
$primary-hover: #3C2E68;
$charcoal-black: #080808;
$black-700: #727272;
$black-300: #F8F8F8;
$text-color: rgba(19, 19, 19, 0.65);
$white: #ffffff;
$white-gray: rgba(248, 249, 250, 1);
$border-color: #d1d5db;
$red: #DC2626;
$red-300: #EF477026;
$red-400: #EF477026;
$success: #16A34A;
$success-300: #16A34A26;
$success-400: #16A34A40;
$blue: rgba(37, 99, 235, 1);
$warning: #FCC107;
$warning-300: #FFF3CD;
$warning-400: #FFE69C;
$info: #669BEA;
$info-300: #669BEA26;
$info-400: #669BEA40;
