<!--{{f.value | json}}-->
<div class="modal-header justify-content-between align-items-center">
  <h6 ngbAutoFocus class="font-20 fw-600">Driver Wallet</h6>
</div>
<div class="modal-body">
  <form [formGroup]="f">
    <div class="row">
      <div class="col-6 mb-3">
        <label class="input-label">Dirver Name</label>
        <input type="text" formControlName="driver" class="form-control input-control" placeholder="Driver Name" />
      </div>
      <div class="col-6 mb-3">
        <label class="input-label">Driver Mobile</label>
        <ng-container *ngIf="onlyCountries.length">
          <ngx-intl-tel-input [enableAutoCountrySelect]="true"
                              [onlyCountries]="onlyCountries"
                              [enablePlaceholder]="true"
                              [customPlaceholder]="'Driver Mobile'"
                              [searchCountryFlag]="true"
                              [selectedCountryISO]="CountryISO.Jordan"
                              [phoneValidation]="true"
                              [separateDialCode]="separateDialCode"
                              [numberFormat]="PhoneNumberFormat.National"
                              formControlName="driverMobile">
          </ngx-intl-tel-input>
        </ng-container>
      </div>
      <div class="col-6 mb-3">
        <label class="input-label">Transaction Done By</label>
        <input type="text" formControlName="transactionBy" class="form-control input-control" placeholder="Transaction By" />
      </div>
      <div class="col-6 mb-3">
        <label class="input-label">Transaction Mobile</label>
        <ng-container *ngIf="onlyCountries.length">
          <ngx-intl-tel-input [enableAutoCountrySelect]="true"
                              [onlyCountries]="onlyCountries"
                              [enablePlaceholder]="true"
                              [customPlaceholder]="'Transaction Mobile'"
                              [searchCountryFlag]="true"
                              [selectedCountryISO]="CountryISO.Jordan"
                              [phoneValidation]="true"
                              [separateDialCode]="separateDialCode"
                              [numberFormat]="PhoneNumberFormat.National"
                              formControlName="transactionMobile">
          </ngx-intl-tel-input>
        </ng-container>
      </div>
      <div class="col-4 mb-3">
        <label class="input-label">Transaction Amount</label>
        <input type="text" formControlName="transactionAmount" class="form-control input-control" decimalOnly placeholder="Transaction Amount" />
      </div>
      <div class="col-4 mb-3">
        <label class="input-label">Tax Amount</label>
        <input type="text" formControlName="taxAmount" class="form-control input-control" placeholder="Transaction Tax" />
      </div>
      <div class="col-4 mb-3">
        <label class="input-label">Total Amount</label>
        <input type="text" formControlName="totalAmount" class="form-control input-control" placeholder="Total Amount" />
      </div>
      <div class="col-6 mb-3">
        <label class="input-label">Status</label>
        <input type="text" formControlName="status" class="form-control input-control" placeholder="Status" />
      </div>
      <!--Attachment-->
      <div class="col-6 mb-3">
        <label class="input-label">Attachment</label>
        @if(attachment){
        <view-file [file]="attachment"></view-file>
        }
        @else{
        <span class="d-block">---</span>
        }
      </div>
    </div>
  </form>
</div>
<div class="modal-footer border-top-0">
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-outline-dark" (click)="_activeModal.close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="handleConfirmClick()">Add to Driver Wallet</button>
  </div>
</div>
