<div class="modal-header justify-content-between align-items-center">
  <h6 class="font-20 fw-600">Update Order Status</h6>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <label class="input-label asterik">Status</label>
      <ng-select [items]="orderStatusList"
                 [formControl]="orderStatus"
                 placeholder="Status"
                 bindLabel="lookupNameEN"
                 bindValue="lookupID"
                 class="input-dropdown">
      </ng-select>
      <validation-error [control]="orderStatus" [errorMessages]="{required:'Input is required'}"></validation-error>

    </div>
  </div>
</div>
<div class="modal-footer border-top-0">
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-outline-dark" (click)="_activeModal.close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmDelete()">Update Status</button>
  </div>
</div>
