<!--{{f.value | json}}-->
<div class="modal-header justify-content-between align-items-center">
  <h6 ngbAutoFocus class="font-20 fw-600">{{(data?.edit && 'Edit Customer' || 'Add New Customer')}}</h6>
  <i *ngIf="data?.edit" (click)="toggleEdit()" class="fas fa-pencil font-22 success-clr cursor-pointer"></i>
</div>
<div class="modal-body">
  <form [formGroup]="f">
    <div class="row">
      <div class="col-6">
        <app-card>
          <div class="row">
            <div class="col-6 mb-3">
              <label class="input-label asterik">Sender Name</label>
              <input type="text" formControlName="name" class="form-control input-control" placeholder="Sender Name" />
              <validation-error [control]="f.get('name')" [errorMessages]="{required:'Input is required'}"></validation-error>
            </div>
            <div class="col-6 mb-3">
              <label class="input-label asterik">Mobile</label>
              <ng-container *ngIf="onlyCountries.length">
                <ngx-intl-tel-input [enableAutoCountrySelect]="true"
                                    [onlyCountries]="onlyCountries"
                                    [enablePlaceholder]="true"
                                    [customPlaceholder]="'Mobile'"
                                    [searchCountryFlag]="true"
                                    [selectedCountryISO]="CountryISO.Jordan"
                                    [phoneValidation]="true"
                                    [separateDialCode]="separateDialCode"
                                    [numberFormat]="PhoneNumberFormat.National"
                                    formControlName="name">
                </ngx-intl-tel-input>
                <ng-container *ngIf="f.get('name')?.invalid && f.get('name')?.touched">
                  <span *ngIf="f.get('name')?.errors?.['required']" class="validation-error d-block">Input is required</span>
                  <ng-container *ngIf="!f.get('name')?.errors?.['required']">
                    <span *ngIf="!f.get('name')?.errors?.['validatePhoneNumber']?.valid" class="validation-error d-block">Invalid phone number</span>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
            <div class="col-6 mb-3">
              <label class="input-label asterik">Country</label>
              <ng-select [items]="countryList"
                         formControlName="lookup"
                         placeholder="Country"
                         bindLabel="lookupNameEN"
                         bindValue="lookupID"
                         (change)="handleCountryChange($event)"
                         class="input-dropdown">
              </ng-select>
              <validation-error [control]="f.get('lookup')" [errorMessages]="{required:'Input is required'}"></validation-error>

            </div>
            <div class="col-6 mb-3">
              <label class="input-label">City</label>
              <ng-select [items]="cityList"
                         formControlName="lookup"
                         placeholder="City"
                         bindLabel="lookupNameEN"
                         bindValue="lookupID"
                         class="input-dropdown">
              </ng-select>
            </div>
            <div class="col-12 mb-3">
              <label class="input-label asterik">Full Address</label>
              <input type="text" formControlName="name" class="form-control input-control" placeholder="Full Address" />
              <validation-error [control]="f.get('name')" [errorMessages]="{required:'Input is required'}"></validation-error>
            </div>
          </div>

        </app-card>
      </div>
      <div class="col-6">
        <app-card>
          <div class="row">
            <div class="col-6 mb-3">
              <label class="input-label asterik">Reciever Name</label>
              <input type="text" formControlName="name" class="form-control input-control" placeholder="Reciever Name" />
              <validation-error [control]="f.get('name')" [errorMessages]="{required:'Input is required'}"></validation-error>
            </div>
            <div class="col-6 mb-3">
              <label class="input-label asterik">Mobile</label>
              <ng-container *ngIf="onlyCountries.length">
                <ngx-intl-tel-input [enableAutoCountrySelect]="true"
                                    [onlyCountries]="onlyCountries"
                                    [enablePlaceholder]="true"
                                    [customPlaceholder]="'Mobile'"
                                    [searchCountryFlag]="true"
                                    [selectedCountryISO]="CountryISO.Jordan"
                                    [phoneValidation]="true"
                                    [separateDialCode]="separateDialCode"
                                    [numberFormat]="PhoneNumberFormat.National"
                                    formControlName="name">
                </ngx-intl-tel-input>
                <ng-container *ngIf="f.get('name')?.invalid && f.get('name')?.touched">
                  <span *ngIf="f.get('name')?.errors?.['required']" class="validation-error d-block">Input is required</span>
                  <ng-container *ngIf="!f.get('name')?.errors?.['required']">
                    <span *ngIf="!f.get('name')?.errors?.['validatePhoneNumber']?.valid" class="validation-error d-block">Invalid phone number</span>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
            <div class="col-6 mb-3">
              <label class="input-label asterik">Country</label>
              <ng-select [items]="countryList"
                         formControlName="lookup"
                         placeholder="Country"
                         bindLabel="lookupNameEN"
                         bindValue="lookupID"
                         (change)="handleCountryChange($event)"
                         class="input-dropdown">
              </ng-select>
              <validation-error [control]="f.get('lookup')" [errorMessages]="{required:'Input is required'}"></validation-error>
            </div>
            <div class="col-6 mb-3">
              <label class="input-label">City</label>
              <ng-select [items]="cityList"
                         formControlName="lookup"
                         placeholder="City"
                         bindLabel="lookupNameEN"
                         bindValue="lookupID"
                         class="input-dropdown">
              </ng-select>
            </div>
            <div class="col-12 mb-3">
              <label class="input-label asterik">Full Address</label>
              <input type="text" formControlName="name" class="form-control input-control" placeholder="Full Address" />
              <validation-error [control]="f.get('name')" [errorMessages]="{required:'Input is required'}"></validation-error>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-12 mt-3">
        <app-card>
          <div class="d-flex align-items-center gap-3 mb-4">
            <h6 class="font-20 fw-600">Order Details Secret Code #123456</h6>
            <span class="order-status-tag">Delivered</span>
          </div>
          <div class="row">
            <div class="col-6 mb-3">
              <label class="input-label">Order Items Category</label>
              <ng-select [items]="orderCategoryList"
                         formControlName="lookup"
                         placeholder="Category"
                         bindLabel="lookupNameEN"
                         bindValue="lookupID"
                         class="input-dropdown">
              </ng-select>
            </div>
            <div class="col-6 mb-3">
              <label class="input-label">Status</label>
              <ng-select [items]="orderStatusList"
                         formControlName="lookup"
                         placeholder="Status"
                         bindLabel="lookupNameEN"
                         bindValue="lookupID"
                         class="input-dropdown">
              </ng-select>
            </div>
            <div class="col-12 mb-3">
              <label class="input-label asterik">Description</label>
              <input type="text" formControlName="name" class="form-control input-control" placeholder="Description" />
            </div>
            <div class="col-6 mb-3">
              <label class="input-label asterik">Price (JOD)</label>
              <input type="text" formControlName="name" class="form-control input-control" placeholder="Price (JOD)" />
            </div>
            <div class="col-6 mb-3">
              <label class="input-label asterik">Fees (JOD)</label>
              <input type="text" formControlName="name" class="form-control input-control" placeholder="Fees (JOD)" />
            </div>
            <div class="col-12 mb-3">
              <label class="input-label asterik">Order Comments</label>
              <input type="text" formControlName="name" class="form-control input-control" placeholder="Comments" />
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer border-top-0">
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-outline-dark" (click)="_activeModal.close()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="f.disabled" (click)="saveData()">Save Order</button>
  </div>
</div>
