<!--{{f.value | json}}-->
<div class="modal-header justify-content-between align-items-center">
  <h6 class="font-20 fw-600">{{(data?.edit && 'Edit Customer' || 'Add New Customer')}}</h6>
  <i *ngIf="data?.edit" (click)="toggleEdit()" class="fas fa-pencil font-22 success-clr cursor-pointer"></i>
</div>
<div class="modal-body">
  <form [formGroup]="f">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-end mb-3">
        <div class="form-check form-switch">
          <label class="form-check-label" for="isActive">Active</label>
          <input class="form-check-input" type="checkbox" formControlName="status" id="isActive" />
        </div>
      </div>
      <div class="col-12 mb-3">
        <label class="input-label asterik">Full Name</label>
        <input type="text" formControlName="fullName" class="form-control input-control" placeholder="Full Name" />
        <validation-error [control]="f.get('fullName')" [errorMessages]="{required:'Input is required'}"></validation-error>
      </div>
      <div class="col-6 mb-3">
        <label class="input-label asterik">First Name</label>
        <input type="text" formControlName="firstName" class="form-control input-control" placeholder="First Name" />
        <validation-error [control]="f.get('firstName')" [errorMessages]="{required:'Input is required'}"></validation-error>
      </div>
      <div class="col-6 mb-3">
        <label class="input-label asterik">Family Name</label>
        <input type="text" formControlName="familyName" class="form-control input-control" placeholder="Family Name" />
        <validation-error [control]="f.get('familyName')" [errorMessages]="{required:'Input is required'}"></validation-error>
      </div>
      <div class="col-6 mb-3">
        <label class="input-label asterik">National ID</label>
        <input type="text" formControlName="nationalID" class="form-control input-control" placeholder="National Id" />
        <validation-error [control]="f.get('nationalID')" [errorMessages]="{required:'Input is required'}"></validation-error>
      </div>
      <!--PROFILE IMAGE-->
      <div class="col-6 mb-3">
        <label class="input-label">Profile Image</label>
        <div class="row">
          <div class="col-6">
            <div class="upload-file-container" (click)="inputFile.click()">
              <div class="flex-center">
                <p class="font-14"><i class="fas fa-cloud-arrow-up me-1"></i> Upload</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <ng-cotaniner *ngIf="uploadProfileImage?.file">
              <view-file [customClass]="'mb-2'" remove="true" [data]="{isUploaded:true,uploadedFile:uploadProfileImage}" (removeFile)="removeFileHandle($event,inputFile,'profile')"></view-file>
            </ng-cotaniner>
            <ng-cotaniner *ngIf="profileImage">
              <view-file [file]="profileImage" download="true"></view-file>
            </ng-cotaniner>
          </div>
        </div>
        <input type="file" #inputFile accept=".png,.jpg,.jpeg,.svg" (change)="onFileChange($event,'profile')" hidden />
      </div>
      <div class="col-6 mb-3">
        <label class="input-label asterik">Mobile</label>
        <ng-container *ngIf="onlyCountries.length">
          <ngx-intl-tel-input [enableAutoCountrySelect]="true"
                              [onlyCountries]="onlyCountries"
                              [enablePlaceholder]="true"
                              [customPlaceholder]="'Mobile'"
                              [searchCountryFlag]="true"
                              [selectedCountryISO]="CountryISO.Jordan"
                              [phoneValidation]="true"
                              [separateDialCode]="separateDialCode"
                              [numberFormat]="PhoneNumberFormat.National"
                              formControlName="customerPhone">
          </ngx-intl-tel-input>
          <ng-container *ngIf="f.get('customerPhone')?.invalid && f.get('customerPhone')?.touched">
            <span *ngIf="f.get('customerPhone')?.errors?.['required']" class="validation-error d-block">Input is required</span>
            <ng-container *ngIf="!f.get('customerPhone')?.errors?.['required']">
              <span *ngIf="!f.get('customerPhone')?.errors?.['validatePhoneNumber']?.valid" class="validation-error d-block">Invalid phone number</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-6 mb-3">
        <label class="input-label" [class.asterik]="!data?.edit">Passoword</label>
        <div class="myinput-group height-44">
          <input type="password" #password class="form-control input-control" placeholder="Password" formControlName="customerPassword" />
          <span class="right"><i class="cursor-pointer fas fa-eye" (click)="togglePasswordVisibility(password)"></i></span>
        </div>
        <validation-error [control]="f.get('customerPassword')" [errorMessages]="{required:'Input is required'}"></validation-error>
      </div>
      <div class="col-6 mb-3">
        <label class="input-label asterik">Country</label>
        <ng-select [items]="countryList"
                   formControlName="customerCountry"
                   placeholder="Country"
                   bindLabel="lookupNameEN"
                   bindValue="lookupID"
                   (change)="handleCountryChange($event)"
                   class="input-dropdown">
        </ng-select>
        <validation-error [control]="f.get('customerCountry')" [errorMessages]="{required:'Input is required'}"></validation-error>

      </div>
      <div class="col-6 mb-3">
        <label class="input-label asterik">City</label>
        <ng-select [items]="cityList"
                   formControlName="customerCity"
                   placeholder="City"
                   bindLabel="lookupNameEN"
                   bindValue="lookupID"
                   class="input-dropdown">
        </ng-select>
        <validation-error [control]="f.get('customerCity')" [errorMessages]="{required:'Input is required'}"></validation-error>
      </div>
      <div class="col-6 mb-3">
        <label class="input-label asterik">Customer Type</label>
        <ng-select [items]="customerTypeList"
                   formControlName="customerLevelID"
                   placeholder="Customer Type"
                   bindLabel="lookupNameEN"
                   bindValue="lookupID"
                   class="input-dropdown">
        </ng-select>
        <validation-error [control]="f.get('customerLevelID')" [errorMessages]="{required:'Input is required'}"></validation-error>
      </div>
      <div class="col-6 mb-3">
        <label class="input-label">Business Category</label>
        <ng-select [items]="businessTypeList"
                   formControlName="businessCategoryID"
                   placeholder="Business Category"
                   bindLabel="lookupNameEN"
                   bindValue="lookupID"
                   class="input-dropdown">
        </ng-select>
      </div>
      <!--ID CARD IMAGE-->
      <div class="col-6 mb-3">
        <label class="input-label">ID Card Image</label>
        <div class="row">
          <div class="col-6">
            <div class="upload-file-container" (click)="idCard.click()">
              <div class="flex-center">
                <p class="font-14"><i class="fas fa-cloud-arrow-up me-1"></i> Upload</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <ng-cotaniner *ngIf="uploadCardImage?.file">
              <view-file [customClass]="'mb-2'" remove="true" [data]="{isUploaded:true,uploadedFile:uploadCardImage}" (removeFile)="removeFileHandle($event,idCard,'card')"></view-file>
            </ng-cotaniner>
          </div>
        </div>
        <ng-cotaniner *ngIf="data?.row?.idCardImageFace1 || data?.row?.idCardImageFace2">
          <label class="input-label mt-3">ID Card Image Face 1</label>
          <view-file [customClass]="'mb-2'" [file]="data?.row?.idCardImageFace1" download="true"></view-file>
          <label class="input-label">ID Card Image Face 2</label>
          <view-file [file]="data?.row?.idCardImageFace2" download="true"></view-file>
        </ng-cotaniner>
        <input type="file" #idCard accept=".png,.jpg,.jpeg,.svg" (change)="onFileChange($event,'card')" hidden />
      </div>
      <!--LICENSE IMAGE-->
      <div class="col-6 mb-3">
        <label class="input-label">License Image</label>
        <div class="row">
          <div class="col-6">
            <div class="upload-file-container" (click)="license.click()">
              <div class="flex-center">
                <p class="font-14"><i class="fas fa-cloud-arrow-up me-1"></i> Upload</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <ng-cotaniner *ngIf="uploadLicenseImage?.file">
              <view-file [customClass]="'mb-2'" remove="true" [data]="{isUploaded:true,uploadedFile:uploadLicenseImage}" (removeFile)="removeFileHandle($event,license,'license')"></view-file>
            </ng-cotaniner>
          </div>
        </div>
        <ng-cotaniner *ngIf="data?.row?.licenseImage">
          <label class="input-label mt-3">License Image</label>
          <view-file [file]="data.row?.licenseImage" download="true"></view-file>
        </ng-cotaniner>
        <input type="file" #license accept=".png,.jpg,.jpeg,.svg" (change)="onFileChange($event,'license')" hidden />
      </div>

    </div>
  </form>
</div>
<div class="modal-footer border-top-0">
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-outline-dark" (click)="_activeModal.close()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="f.disabled" (click)="saveData()">{{(data?.edit && 'Edit Customer' || 'Add Customer')}}</button>
  </div>
</div>
