<h4 class="font-24 fw-600 mb-3">{{driverName}} – Current Wallet Active Amount: <span class="success-clr">{{totalAmount | number:'2.3-3'}} JOD</span></h4>
<form [formGroup]="filterForm">
  <div class="row mb-3">
    <div class="col-4">
      <div class="row">
        <div class="col-5">
          <ng-select [items]="transactionTypeList"
                     formControlName="transactionType"
                     placeholder="Transaction Type"
                     bindLabel="lookupNameEN"
                     bindValue="lookupID"
                     class="ng-select-filter">
          </ng-select>
        </div>
        <div class="col-7 mb-3">
          <div class="myinput-group">
            <input type="text"
                   bsDaterangepicker
                   placement="bottom"
                   class="form-control"
                   placeholder="Transaction Date (From - To)"
                   formControlName="creationDate" />
            <span *ngIf="filterForm.get('creationDate').value" class="right">
              <i (click)="resetControlValue('creationDate')" class="cursor-pointer fas fa-times"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 justify-content-end gap-2 d-flex">
      <button type="button" class="btn btn-outline-dark white-bg fw-400" (click)="handleExportWalletClick()">
        <i class="fa-solid fa-download"></i> Export Wallet Report
      </button>
    </div>
  </div>
</form>
<appDataTable [config]="tableConfig"
              [columns]="tableColumns"
              [data]="dataList"
              [page]="pageNo"
              [total]="total"
              [limit]="limit"
              (pageUpdated)="onPageChange($event)">
  <ng-template tableDataColumn="dateTime" let-row="row">
    {{row?.enterDate | date:'mediumDate'}} {{row?.time | date:'shortTime'}}
  </ng-template>
  <ng-template tableDataColumn="charge" let-row="row">
    <span class="text-decoration-underline primary-clr cursor-pointer" (click)="handleChargeIdClick(row)">#{{row?.driverChargeAccountID}}</span>
  </ng-template>
  <ng-template tableDataColumn="status" let-row="row">
    <div class="status-tag"
         [style.background-color]="row?.status?.lookupBGColor"
         [style.color]="row?.status?.lookupTextColor">
      {{row?.status?.lookupNameEN?.lookupName}}
    </div>
  </ng-template>
</appDataTable>
<div class="d-flex justify-content-end gap-2 mt-3">
  <button type="button" class="btn btn-outline-dark" [routerLink]="appRoutes.Customers.Listing">Cancel</button>
</div>
