<form [formGroup]="filterForm">
  <div class="row mb-3">
    <div class="col-3">
      <ng-select [items]="customerList"
                 formControlName="fromCustomerID"
                 placeholder="Sender"
                 bindLabel="fullName"
                 bindValue="customerID"
                 class="ng-select-filter">
      </ng-select>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-6">
          <ng-select [items]="statusList"
                     formControlName="orderStatus"
                     placeholder="Status"
                     bindLabel="lookupNameEN"
                     bindValue="lookupID"
                     class="ng-select-filter">
          </ng-select>

        </div>
        <div class="col-6">
          <ng-select [items]="countryList"
                     formControlName="fromCountryID"
                     placeholder="Country"
                     bindLabel="lookupNameEN"
                     bindValue="lookupID"
                     (change)="handleCountryChange($event)"
                     class="ng-select-filter">
          </ng-select>

        </div>
      </div>
    </div>
    <div class="col-6 justify-content-end gap-2 d-flex">
      <button type="button" (click)="toggleFilters()" class="btn btn-outline-dark white-bg">
        <i class="fa-solid fa-sliders"></i> Filter
      </button>
      <button type="button" class="btn btn-outline-dark white-bg fw-400" (click)="handleExportCustomerOrdersClick()">
        <i class="fa-solid fa-download"></i> Export Customers Report
      </button>
    </div>
  </div>
  <app-card class="mb-4" *ngIf="showFilter">
    <div class="row">
      <div class="col-4 mb-3">
        <label class="input-label">From City</label>
        <ng-select [items]="cityList"
                   formControlName="fromCityID"
                   placeholder="From City"
                   bindLabel="lookupNameEN"
                   bindValue="lookupID"
                   class="ng-select-filter">
        </ng-select>
      </div>
      <div class="col-4 mb-3">
        <label class="input-label">To City</label>
        <ng-select [items]="cityList"
                   formControlName="toCityID"
                   placeholder="To City"
                   bindLabel="lookupNameEN"
                   bindValue="lookupID"
                   class="ng-select-filter">
        </ng-select>
      </div>
      <div class="col-4 mb-3">
        <label class="input-label">Order Items Category</label>
        <ng-select [items]="categoryList"
                   formControlName="orderCategoryID"
                   placeholder="Order Items Category"
                   bindLabel="lookupNameEN"
                   bindValue="lookupID"
                   class="ng-select-filter">
        </ng-select>
      </div>
      <div class="col-4 mb-3">
        <label class="input-label">Created (From - To)</label>
        <div class="myinput-group">
          <input type="text"
                 bsDaterangepicker
                 placement="bottom"
                 class="form-control"
                 placeholder="Created (From - To)"
                 formControlName="creationDate" />
          <span *ngIf="filterForm.get('creationDate').value" class="right">
            <i (click)="resetControlValue('creationDate')" class="cursor-pointer fas fa-times"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-outline-dark height-48 fw-400" (click)="toggleFilters()">Cancel</button>
        <button type="button" class="btn btn-outline-light height-48 fw-400" (click)="resetFilterForm()">Reset All</button>
      </div>
    </div>
  </app-card>
</form>
<app-card>
  <div class="row mb-2">
    <div class="col-2">
      <div class="d-flex align-items-center page-size gap-2">
        <label>Show</label>
        <select (change)="handleChangePageSize($event)">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="100000">All</option>
        </select>
      </div>
    </div>
  </div>
  <appDataTable [config]="tableConfig"
                [columns]="tableColumns"
                [data]="dataList"
                [otherData]="otherData"
                [page]="pageNo"
                [total]="total"
                [limit]="limit"
                (sortUpdated)="onSortChange($event)"
                (multiSelected)="handleMultiSelect($event)"
                (pageUpdated)="onPageChange($event)">
    <!--Data-->
    <ng-template tableDataColumn="fromCustomerID" let-row="row">
      <div class="d-flex align-items-center gap-2">
        <app-shape-card [imageUrl]="row?.customerProfileImage || '/assets/images/user-image.png'"
                        [customClass]="''"
                        [customStyles]="{borderRadius:'50%',height:'40px', width:'40px'}">
        </app-shape-card>
        <div class="d-flex flex-column gap-2">
          <span class="cb-clr fw-600">{{row?.fromCustomerID[0]?.fullName}}</span>
          <span class="cbs-clr font-12">{{row?.fromCustomerID[0]?.customerPhone}}</span>
          <span class="cbs-clr font-12">{{row?.fromCustomerID[0]?.companyName}}</span>
        </div>
      </div>
    </ng-template>
    <ng-template tableDataColumn="price" let-row="row">
      <div class="d-flex flex-column gap-2">
        <span class="cb-clr fw-600">Price: {{row?.customerOrderPrice | number:'2.3-3'}}</span>
        <span class="cbs-clr font-12">Delivery: {{row?.orderDeliveryFees | number:'2.3-3'}}</span>
        <span class="cbs-clr font-12">Company: {{(row?.orderCompanyComission || 0) | number:'2.3-3'}}</span>
      </div>
    </ng-template>
    <ng-template tableDataColumn="receiverName" let-row="row">
      <div class="d-flex flex-column gap-2">
        <span class="cbs-clr font-12">Name: {{row?.receiverName}}</span>
        <span class="cbs-clr font-12">Code: {{row?.customerOrderSecretCode || '---'}}</span>
      </div>
    </ng-template>
    <ng-template tableDataColumn="enterDate" let-row="row">
      <div class="d-flex flex-column gap-2">
        <span>{{row?.enterUser[0]?.fullName}}</span>
        <span>{{(row?.enterDate) | date:'mediumDate'}}</span>
        <span>{{(row?.time) | date:'shortTime'}}</span>
      </div>
    </ng-template>
    <ng-template tableDataColumn="status" let-row="row">
      <div class="status-tag"
           [style.background-color]="row?.customerOrderStatus?.lookupBGColor"
           [ngStyle]="{'border':'1px solid' + row?.customerOrderStatus?.lookupTextColor}"
           [style.color]="row?.customerOrderStatus?.lookupTextColor">
        {{row?.customerOrderStatus?.lookupNameEN?.lookupName}}
      </div>
    </ng-template>
    <ng-template tableDataColumn="action" let-row="row">
      <div class="d-flex gap-1">
        <div class="table-actions wallet" (click)="handleOrderDetailsClick(row,'view')"><i class="primary-clr fas fa-eye"></i> </div>
        <div class="table-actions view" (click)="handleOrderTrackingClick(row)"><img src="/assets/images/tracking.svg" /> </div>
        <div class="table-actions update" (click)="handleUpdateStatusClick(row)"><svg-icon src="/assets/images/update.svg"> </svg-icon> </div>
        <div (click)="handleOrderDetailsClick(row,'edit')" class="table-actions edit">
          <img src="/assets/images/edit.svg" />
        </div>
        <div (click)="confirmDelete(row)" class="table-actions delete">
          <img src="/assets/images/trash.svg" />
        </div>
      </div>
    </ng-template>
  </appDataTable>
</app-card>
