@import '../../../../../assets/scss/_variables.scss';

:host {
  ::ng-deep {
    .table-header {
      .header-cell {
        &:nth-child(2), &:nth-child(3) {
          background: $success-300;
        }

        &:nth-child(6), &:nth-child(7) {
          background: $primary-200;
        }
      }
    }

    .table-body {
      .body-cell {
        &:nth-child(2), &:nth-child(3) {
          background: $success-300;
          height: 100%;
          display: flex;
          align-items: center;
        }

        &:nth-child(6), &:nth-child(7) {
          background: $primary-200;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
