<form [formGroup]="filterForm">
  <div class="row mb-3">
    <div class="col-4">
      <div class="myinput-group">
        <span class="left"><i class="fas fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Search by (User No. | Name | Mobile | Email )" formControlName="search" />
        <span *ngIf="filterForm.get('search').value" class="right"><i (click)="resetControlValue('search')" class="cursor-pointer fas fa-times"></i></span>
      </div>
    </div>
    <div class="col-2">
      <ng-select [items]="statusList"
                 [multiple]="true"
                 formControlName="status"
                 placeholder="Status"
                 bindLabel="lookupNameEN"
                 bindValue="lookupID"
                 class="ng-select-filter">
      </ng-select>
    </div>
    <div class="col-2">
      <ng-select placeholder="User Type"
                 [items]="userTypeList"
                 bindLabel="lookupNameEN"
                 bindValue="lookupID"
                 formControlName="userType"
                 class="ng-select-filter">
      </ng-select>
    </div>
    <div class="col-4 d-flex justify-content-end gap-2">
      <button (click)="handleAddClick()" type="button" class="btn btn-primary height-48 fw-300">
        <i class="fas fa-plus"></i> Add User
      </button>
    </div>
  </div>
</form>
<app-card>
  <div class="row mb-2">
    <div class="col-2">
      <div class="d-flex align-items-center page-size gap-2">
        <label>Show</label>
        <select (change)="handleChangePageSize($event)">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="100000">All</option>
        </select>
      </div>
    </div>
  </div>
  <appDataTable [config]="tableConfig"
                [columns]="tableColumns"
                [data]="dataList"
                [page]="pageNo"
                [total]="total"
                [limit]="limit"
                (sortUpdated)="onSortChange($event)"
                (pageUpdated)="onPageChange($event)">
    <ng-template tableDataColumn="userEmail" let-row="row">
      @if(row?.userEmail?.length > 20){
      <span ngbTooltip="{{row.userEmail}}" placement="right" container="body">{{(row.userEmail | slice:0:20) + '...'}}</span>
      }@else{{{row?.userEmail}}}
    </ng-template>
    <ng-template tableDataColumn="status" let-row="row">
      <div class="status-tag"
           [style.background-color]="row?.status?.lookupBGColor"
           [style.color]="row?.status?.lookupTextColor">
        {{row?.status?.lookupNameEN}}
      </div>
    </ng-template>
    <ng-template tableDataColumn="isPopup" let-row="row">
      {{row?.isPopup && 'Yes' || 'No'}}
    </ng-template>
    <ng-template tableDataColumn="action" let-row="row">
      <div class="d-flex gap-1">
        <div (click)="handleAddClick(row)" class="table-actions edit"><img src="/assets/images/edit.svg" /></div>
        <div (click)="confirmDelete(row)" class="table-actions delete"><img src="/assets/images/trash.svg" /></div>
      </div>
    </ng-template>
  </appDataTable>
</app-card>
